textarea {
	width: 25%;
	height: 150px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	font-size: 16px;
	resize: none;
	bottom: 0;
}
.Text {
	width: 100%;
	margin: auto;
}
